<%- include("partials/head.ejs") %>

<% if (customer.CustomerId != 0) { %>
<p>
	Create a <a href="/order/new?customerid=<%= customer.CustomerId %>">new order</a> for this customer
</p>
<% } %>
	

<% if (typeof errors != "undefined") { %>
	<h4><i class="fa-solid fa-triangle-exclamation"></i> We couldn’t save the customer: </h4>
	<ul class="errors">
		<% errors.forEach(e => { %>
		 <li><%= e %></li>
		<% }) %>
	</ul>
<% } %>


<% if (typeof success != "undefined") { %>
<dialog id="successDialog">
	<form method="dialog">
	<h5>Success</h5>
	<p><%= success %></p>
	<button>OK</button>
</form>
</dialog>
<script>
document.getElementById("successDialog").showModal()
</script>
<% } %>

<fieldset><legend>Customer details</legend>
<form method="POST" action="/customer/edit" id="customerForm">
<input type="hidden" name="CustomerId" value="<%= customer.CustomerId %>" > 
<p>
	<label for="code">Code:</label>
	<input id="code" name="Code" value="<%= customer.Code %>" required />
</p>
<p>
	<label for="company">Company:</label>
	<input id="company" name="Company" value="<%= customer.Company %>" required />
</p>
<p>
	<label for="followup">Next follow-up due:</label>
	<input id="followup" type=date value="<%= customer.fudate %>" name="FollowUpDate" /> 
</p>
<p>
	<label for="custnotes">Our Notes: (our internal use, delivery notes are down the bottom)</label>
	<textarea rows="5" id="custnotes" name="CustNotes" placeholder="these notes are for our own internal use; scroll down to enter delivery notes."><%= customer.CustNotes %></textarea>
</p>
<p>
	<label for="firstname">Firstname:</label>
	<input id="firstname" name="FirstName" value="<%= customer.FirstName %>" />
</p>
<p>
	<label for="surname">Surname:</label>
	<input id="surname" name="Surname" value="<%= customer.Surname %>" />
</p>
<p>
	<label for="phoneoffice">Phone Office:</label>
	<input type="tel" id="phoneoffice" name="PhoneOffice" value="<%= customer.PhoneOffice %>" />
</p>
<p>
	<label for="phonehome">Phone Home:</label>
	<input type="tel" id="phonehome" name="PhoneHome" value="<%= customer.PhoneHome %>" />
</p>
<p>
	<label for="phonemobile">Phone Mobile:</label>
	<input type="tel" id="phonemobile" name="PhoneMobile" value="<%= customer.PhoneMobile %>" />
</p>
<p>
	<label for="fax">Fax:</label>
	<input type="tel" id="fax" name="Fax" value="<%= customer.Fax %>" />
</p>
<input type="hidden" name="Email" id="email" value="<%- customer.Email %>" />
<% 
	customer.Email1 = ""
	customer.Email2 = ""
	if (customer.Email && customer.Email.length > 0) {
		const parts = customer.Email.split(",")
		customer.Email1 = parts[0]
		if (parts.length == 2)
			customer.Email2 = parts[1]
	}
%>
<p>
	<label for="email1">Email 1:</label>
	<input type="email" id="email1" value="<%- customer.Email1 %>" />
</p>
<p>
	<label for="email2">Email 2:</label>
	<input type="email" id="email2" value="<%- customer.Email2 %>" />
</p>
<p>
	<label for="addressline1">Address Line 1:</label>
	<input id="addressline1" name="AddressLine1" value="<%= customer.AddressLine1 %>" />
</p>
<p>
	<label for="addressline2">Address Line 2:</label>
	<input id="addressline2" name="AddressLine2" value="<%= customer.AddressLine2 %>" />
</p>
<p>
	<label for="locality">Locality:</label>
	<input id="locality" name="Locality" value="<%= customer.Locality %>" placeholder="town, city or suburb" />
</p>
<p>
	<label for="postcode">Postcode:</label>
	<input id="postcode" name="Postcode" value="<%= customer.Postcode %>" inputmode="numeric" />
</p>
<p>
	<label for="state">State</label>
	<select id="state">
		<% ["", "QLD", "NSW", "VIC", "SA", "WA", "TAS", "NT", "ACT"].forEach(s => { %>
		<option value="<%= s %>" <%= customer.State == s ? "selected" : "" %>><%= s %></option>
		<% }) %>
	</select>
</p>
<p>
	<label for="notes">Delivery Notes:</label>
	<textarea rows="5" id="notes" name="Notes" placeholder="delivery notes"><%= customer.Notes %></textarea>
</p>

<p>
	<label for="salesrep">Sales Rep:</label>
	<select id="salesrep" name="salesrep" value="customer.SalesRep">
		<option value="">— Select —</option>
		<% salesreps.filter(sr => sr.Deleted == 0).forEach(function(sr){ %>
			<option key="<%= sr.Name %>" <%= sr.Name==customer.SalesRep ? 'selected' : '' %>><%= sr.Name %></option>
		<% }) %>

		<% 
		var deletedRep = salesreps.find(s => s.Deleted==1 && s.Name==customer.SalesRep)
		if (deletedRep) { %>
			<optgroup label="Deleted reps:">
				<option key="<%= deletedRep.Name %>" selected><%= deletedRep.Name %></option>
			</optgroup>
		<% } %>
	</select>
</p>


<% if (poweruser || salesrep) { %>
<input type="submit" value="<%= customer.CustomerId=='0' ? "Create new customer" : "Save customer details" %>" />
<% } %> 
</form>
</fieldset>


<% if (customer.CustomerId != 0) { %>
	<dl>
		<dt>Created by:</dt>
		<dd><%= customer.CreatedBy %></dd>
		<dt>Created date/time:</dt>
		<dd><%= customer.CreatedDateTime %></dd>
		<dt>Last modified by:</dt>
		<dd><%= customer.LastModifiedBy %></dd>
		<dt>Last modified date/time:</dt>
		<dd><%= customer.LastModifiedDateTime %></dd>
	</dl>
	<p><a href="/auditlog?table=Customer&id=<%= customer.CustomerId %>" target=_blank>Audit log</a></p>
<% } %>


<script>

document.forms["customerForm"].addEventListener("submit", function (event) {
	if (! document.forms["customerForm"].reportValidity()) {
		return false
	}

	const email1 = document.getElementById("email1")
	const email2 = document.getElementById("email2")
	let emails = [email1.value.trim(), email2.value.trim()]
	emails = emails.filter(e => e != "")
	document.getElementById("email").value = emails.join(",")

	return true

})


<% if (!poweruser && !salesrep) { %>
	Array.from(document.querySelectorAll("input, select, textarea")).forEach(e => e.setAttribute("disabled", "disabled"))
<% } %>



document.addEventListener("DOMContentLoaded", () => {
	const elem = document.getElementById("followup")
	elem.setAttribute("min", new Date().toISOString().substring(0, 10))
})

</script>


<%- include("partials/foot.ejs") %>