<html>
<head>
	<title>SunPrints Order Number <%= order.OrderNumber %>
	</title>
	<style>

		body {
			font-family: sans-serif;
			font-size: 11pt;
		}

		#customerTable {
			width: 100%;
		}

		#customerTable td {
			width: 33%;
		}

		#customerTable #middleCell {
			padding-left: 2em;
			padding-right: 2em;
		}

		#garmentTable {
			margin-top: 1em; 
			border-collapse: collapse;
		}

		#garmentTable tr.garment-row>td {
			border-bottom: 1px  solid gray;
			border-top: 1px  solid gray;
		}

		/* center by default, not sure what's best 
		tr.garment-row td:nth-child(2), tr.garment-row td:nth-child(3) {
			vertical-align: bottom; 
		}*/

		.quantityTable td {
			text-align: right;
			padding-left: .5em;
			padding-right: .5em;
		}
		

    #inputTable, table.list
    {
      margin-top: 2em;
    }

    #inputTable {
      border-spacing: 0 2em;
      max-width: 100%;
    }

    #inputTable td {
      padding: .5em;
    }

    .tdbox {
      border: 1px black solid;
    }

    table.list th {
      text-align: left;
    }

    table.list th,
    table.list td {
      padding-top: .5em;
			padding-right: 1em;
			padding-bottom: .5em;
			padding-left: 1em;
    }

		table.list, table.list * {
			border: 1px black solid;
			border-collapse: collapse;
		}

		table.list caption {
			font-size: 1.5em;
			font-weight: bold;;
		}


	@media print {
		.no-print {
			display: none
		}
	}

	@media print {
  .no-print {
    display: none
  }
}

</style>
</head>

<body>
	<div class="no-print">
		<ul>
		<li>Print the document by hitting Ctrl-P or <a href=# onclick="window.print()">this link</a>.
		<li>Use the Destination/Printer option to save a PDF 
		<li>Under <i>More settings</i> you can remove the header/footer
	</ul>
		<hr>
</div>


	<h1>SunPrints</h1>

	<table id="customerTable">
		<tr>
			<td>
				<b><%= customer.Company %></b>
				<% if (customer.AddressLine1) { %>
					<br><%= customer.AddressLine1 %>
				<% } %>
				<% if (customer.AddressLine2) { %>
					<br><%= customer.AddressLine2 %>
				<% } %>
				<br><%= customer.Locality %> <%= customer.State %> <%= customer.Postcode %>
				</td>
			<td id="middleCell"><b>Deliver To</b><br><%- customer.Notes ? customer.Notes.replace(/\n/g, "<br>") : "n/a" %></td>
			<td>
				<table>
					<tr><td style="text-align:right"><b>Order No:</b></td><td><%= order.OrderNumber %></td></tr>
					<tr><td style="text-align:right"><b>Customer Order No:</b></td><td><%= order.CustomerOrderNumber || 'n/a' %></td></tr>
				</table>
			</td>
		</tr>

		<tr>
		<td>
			<b>Order Date:</b> <%=  new Date(Date.parse(order.OrderDate)).toLocaleDateString("en-AU")  %><br>
			<b>Delivery:</b>&emsp;&ensp;<%= order.DeliveryDate || "n/a" %><br>
			<div style="display:flex">
				<div><b>Notes:</b></div>
				<div style="margin-left: 1em; "><%- order.Notes ? order.Notes.replace(/\n/g, "<br>") : "" %></div>
			</div>
		</td>
		<td style="vertical-align:text-top">
			<b>Invoice Date:</b> <%= order.InvoiceDate || "n/a" %><br>
			<b>Terms:</b>&emsp;&emsp;&emsp;<%= order.Terms %><br>
			<b>Sales Rep:</b>&emsp;&ensp;<%= order.SalesRep || "n/a" %>
		</td>
		<td style="vertical-align:text-top; font-size:large"> <%#  ext-align:center; %>
			<% if (order.Repeat) { %> <b>Repeat</b><br> <% } %>
			<% if (order.New) { %> <b>New</b><br> <% } %>
			<% if (order.BuyIn) { %> 
				<b>Buy In</b><br> <%#  %> 
				<% if (stockorder) { %>
					<%= stockorder.StockOrderId %>
				<% } %>
			<% } %>
		</td>
		<tr>
	</table>

<table id="garmentTable">
	<% let quantity = 0, totalPrice = 0; 
	for (let g of garments) { 
		quantity += g.kidsQuantity + g.womensQuantity + g.adultsQuantity;
		totalPrice += (g.kidsQuantity + g.womensQuantity + g.adultsQuantity) * g.Price;
		%>
		<tr class="garment-row">
			<td>
				<table>
					<% if (g.FrontPrintDesign) { %>
							<tr><td><b>Front Print:</b><td><%= g.FrontPrintDesign %>
					<% } %>
					<% if (g.BackPrintDesign) { %>
						<tr><td><b>Back Print:<td><%= g.BackPrintDesign %>
					<% } %>
					<% if (g.PocketPrintDesign) { %> 
						<tr><td><b>Pocket Print:<td><%= g.PocketPrintDesign %>
					<% } %>
					<% if (g.SleevePrintDesign) { %>
						<tr><td><b>Sleeve Print:<td><%= g.SleevePrintDesign %>
					<% } %>
					<% if (g.FrontEmbroideryDesign) { %>
						<tr><td><b>Front Embroidery:</b><td><%= g.FrontEmbroideryDesign %>
					<% } %>
					<% if (g.BackEmbroideryDesign) { %>
						<tr><td><b>Back Embroidery:</b><td><%= g.BackEmbroideryDesign %>
					<% } %>
					<% if (g.PocketEmbroideryDesign) { %>
						<tr><td><b>Pocket Embroidery:</b><td><%= g.PocketEmbroideryDesign %>
					<% } %>
					<% if (g.SleeveEmbroideryDesign) { %>
						<tr><td><b>Sleeve Embroidery:</b><td><%= g.SleeveEmbroideryDesign %>
					<% } %>
					<% if (g.FrontTransferDesign) { %>
						<tr><td><b>Front Transfer:</b><td><%= g.FrontTransferDesign %>
					<% } %>
					<% if (g.BackTransferDesign) { %>
						<tr><td><b>Back Transfer:</b><td><%= g.BackTransferDesign %>
					<% } %>
					<% if (g.PocketTransferDesign) { %>
						<tr><td><b>Pocket Transfer:</b><td><%= g.PocketTransferDesign %>
					<% } %>
					<% if (g.SleeveTransferDesign) { %>
						<tr><td><b>Sleeve Transfer:</b><td><%= g.SleeveTransferDesign %>
					<% } %>
					<tr><td><b>Type:</b></td><td><%= g.Type %></td></tr>
					<tr><td><b>Colour:</b></td><td><%= g.Colour %></td></tr>
					<tr><td><b>Label:</b></td><td><%= g.Label %></td></tr>
					<tr><td><b>Code:</b></td><td><%= g.Code %></td></tr>
				</table>
			</td>
			<td>
				<table class="quantityTable">

					<% if (g.kidsQuantity > 0) { %>
					<tr><th>0</th>          <th>1</th>          <th>2</th>          <th>4</th><th>6</th><th>8</th><th>10</th><th>12</th><th>14</th><th>16</th><th></th><th></th></tr>
					<tr><td><%= g.K0 %></td><td><%= g.K1 %></td><td><%= g.K2 %></td><td><%= g.K4 %></td><td><%= g.K6 %></td><td><%= g.K8 %></td><td><%= g.K10 %></td><td><%= g.K12 %></td><td><%= g.K14 %></td><td><%= g.K16 %></td><td></td><td></td></tr>
					<tfoot><tr><td colspan="10" style="text-align:center">Kids</td></tr></tfoot>
					<% } %>
					<% if (g.womensQuantity > 0) { %>
						<tr>
						<th>6</th><th>8</th><th>10</th><th>12</th><th>14</th><th>16</th><th>18</th><th>20</th><th>22</th><th>24</th><th>26</th><th>28</th>
					</tr>
					<tr>
						<td><%= g.W6 %></td><td><%= g.W8 %></td><td><%= g.W10 %></td><td><%= g.W12 %></td><td><%= g.W14 %></td><td><%= g.W16 %></td><td><%= g.W18 %></td><td><%= g.W20 %></td><td><%= g.W22 %></td><td><%= g.W24 %></td><td><%= g.W26 %></td><td><%= g.W28 %></td>
					</tr>
					<tfoot><tr><td colspan="12" style="text-align:center">Ladies</td></tr></tfoot>
					<% } %>
					<% if (g.adultsQuantity > 0) { %>
					<tr>
						<th>XS</th><th>S</th><th>M</th><th>L</th><th>XL</th><th>XXL</th><th>3XL</th><th>4XL</th><th>5XL</th><th>6XL</th><th>7XL</th><th>8XL</th>
					</tr>
					<tr>
						<td><%= g.AXS %></td><td><%= g.ASm %></td><td><%= g.AM %></td><td><%= g.AL %></td><td><%= g.AXL %></td><td><%= g.A2XL %></td><td><%= g.A3XL %></td><td><%= g.A4XL %></td><td><%= g.A5XL %></td><td><%= g.A6XL %></td><td><%= g.A7XL %></td><td><%= g.A8XL %></td>
					</tr>
					<tfoot><tr><td colspan="12" style="text-align:center">Adults</td></tr></tfoot>
					<% } %>
				</table>
			</td>
			<td>
				<table>
					<tr><td><b>Qty:</b></td><td style="text-align:right"><%= g.kidsQuantity + g.womensQuantity + g.adultsQuantity %></td></tr>
					<tr><td style="border-bottom:1px dotted gray"><b>Price:</b></td><td style="border-bottom:1px dotted gray;text-align:right">$<%= Number(g.Price)?.toFixed(2) %></td></tr>
					<tr><td><b>Total:</b></td><td style="text-align:right">$<%= ((g.kidsQuantity + g.womensQuantity + g.adultsQuantity) * Number(g.Price)).toFixed(2) %></td></tr>
				</table>
			</td>
		</tr>
		<% } %>
		<tfoot>
			<tr><td colspan="3" style="text-align:right">
				<table style="float:right">
					<tr>
						<td style="text-align:right"><b>Total Quantity:</b></td><td style="text-align:right"><%= quantity %></td>
					</tr>
					<tr>
						<td style="text-align:right"><b>Total Order Value:</b></td><td style="text-align:right">$<%= totalPrice.toFixed(2) %></td>
					</tr>
				</table>
			</td></tr>
		</tfoot>
</table>


<div style="page-break-before: always; margin-top: 3em;">
	<div style="display:flex;  ">
			<h1>Screens, Transfers and USBs</h1>
			<h1 style="margin-left:auto">
				<%= new Date().toLocaleDateString("en-AU") %>
			</h1>
	</div>

	<table id="inputTable">
			<tr>
				<td>Pulled __________
				<td></td>
				<td></td>
				<td>Printed __________</td>
				<td>Checked __________</td>
				<td></td>
			</tr>
			<tr>
				<td>Folded __________</td>
				<td>Qty</td>
				<td class="tdbox">&emsp;&emsp;</td>
				<td>2nd Check __________</td>
				<td>Foiled _________</td>
				<td>Qty</td>
				<td class="tdbox">&emsp;&emsp;</td>
			</tr>

	</table>


	<div id="app">

		<table class="list" v-if="screensCount>0">
		<caption>Screens</caption>
    <thead>
      <tr>
				<th>Location</th>
        <th>Number</th>
        <th>Colour</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody v-for="loc in locations">
      <tr v-for="(s, i) in screens[loc]">
				<th :rowspan="screens[loc].length" v-if="i==0">{{loc}}</th>
        <td>{{s.Number}}</td>
        <td>{{s.Colour}}</td>
        <td>{{s.Name}}</td>
      </tr>
    </tbody>
  </table>

  <table class=list v-if="usbsCount>0">
		<caption>Usbs</caption>
    <thead>
      <tr>
				<th>Location</th>
        <th>Number</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody v-for="loc in locations">
      <tr v-for="(u, i) in usbs[loc]">
				<th :rowspan="usbs[loc].length" v-if="i==0">{{loc}}</th>
        <td>{{u.Number}}</td>
        <td>{{u.Notes}}</td>
      </tr>
    </tbody>
  </table>

	<table class="list" v-if="transfersCount>0">
		<caption>Transfers</caption>
    <thead>
      <tr>
				<th>Location</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody v-for="loc, i in locations">
      <tr v-for="(t, i) in transfers[loc]">
				<th :rowspan="transfers[loc].length" v-if="i==0">{{loc}}</th>
        <td>{{t}}</td>
      </tr>
    </tbody>
  </table> 

	</div>

</div>


<script src="/javascripts/vue-3.2.33.js"></script>
<script>
Vue.createApp({
	data() {
		return {
			orderNumber: "<%= order.OrderNumber %>",
			screens: <%- JSON.stringify(screens) %>,
			usbs: <%- JSON.stringify(usbs) %>,
			transfers: <%- JSON.stringify(transfers) %>,
			locations: <%- JSON.stringify(locations) %>,
			screensCount: <%- screensCount %>,
			usbsCount: <%- usbsCount %>,
			transfersCount: <%- transfersCount %>,
		}
	}
}).mount("#app")

  </script>

	<script>
		//if (window.location.hostname != "localhost")
			window.print()
	</script>
</body>

</html>