<html>

<head>
  <title>SunPrints | Order Number <%= orderNumber %></title>
  <style>
    body {
      font-family: sans-serif; 
      
    }

    table.list {
      margin-top: 2em;
    }

    #inputTable {
      border-spacing: 0 2em;
      max-width: 100%;
    }

    #inputTable td {
      padding: .5em;
    }

    .tdbox {
      border: 1px black solid;
    }

    table.list th {
      text-align: left;
    }

    table.list th,
    td {
      padding-right: 2em
    }

		@media print {
  .no-print {
    display: none
  }
}
</style>

<body>

	<h1 class="no-print">
		<ul>
		<li>Print the document by hitting Ctrl-P or <a href=# onclick="window.print()">this link</a>.
		<li>Use the Destination/Printer option to save a PDF 
		<li>Under <i>More settings</i> you can remove the header/footer
	</ul>
		<hr>
	</h1>


  <div style="display:flex">
    <h1>Screens, Transfers and USBs</h1>
    <h1 style="margin-left:auto">
      <%= new Date().toLocaleDateString() %>
    </h1>
  </div>

  <table id="inputTable">
    <tr>
      <td>Pulled __________
      <td></td>
      <td></td>
      <td>Printed __________</td>
      <td>Checked __________</td>
      <td></td>
    </tr>
    <tr>
      <td>Folded __________</td>
      <td>Qty</td>
      <td class="tdbox">&emsp;&emsp;</td>
      <td>2nd Check __________</td>
      <td>Foiled _________</td>
      <td>Qty</td>
      <td class="tdbox">&emsp;&emsp;</td>
    </tr>

  </table>

  <div id="app">

  <table class="list">
		<caption>Screens</caption>
    <thead>
      <tr>
				<th>Location</th>
        <th>Number</th>
        <th>Colour</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody v-for="loc in locations">
      <tr v-for="(s, i) in screens[loc]">
				<td :rowspan="screens[loc].length" v-if="i==0">{{loc}}</td>
        <td>{{s.Number}}</td>
        <td>{{s.Colour}}</td>
        <td>{{s.Name}}</td>
      </tr>
    </tbody>
  </table>

  <table class=list>
		<caption>Usbs</caption>
    <thead>
      <tr>
				<th>Location</th>
        <th>Number</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody v-for="loc in locations">
      <tr v-for="(u, i) in usbs[loc]">
				<td :rowspan="usbs[loc].length" v-if="i==0">{{loc}}</td>
        <td>{{u.Number}}</td>
        <td>{{u.Notes}}</td>
      </tr>
    </tbody>
  </table>

	<table class="list">
		<caption>Transfers</caption>
    <thead>
      <tr>
				<th>Location</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody v-for="loc, i in locations">
      <tr v-for="(t, i) in transfers[loc]">
				<td :rowspan="transfers[loc].length" v-if="i==0">{{loc}}</td>
        <td>{{t}}</td>
      </tr>
    </tbody>
  </table> 


</div>


  <script src="/javascripts/vue-3.2.33.js"></script>
  <script>
    window.app = Vue.createApp({
      data() {
        return {
          orderNumber: "<%= orderNumber %>",
          screens: <%- JSON.stringify(screens) %>,
          usbs: <%- JSON.stringify(usbs) %>,
          transfers: <%- JSON.stringify(transfers) %>,
					locations: <%- JSON.stringify(locations) %>
      }
      }
    }
    ).mount("#app")


    window.print()

  </script>
</body>

</html>