<%- include("partials/head.ejs") %>

<ul>
	<li>Admin: can make changes to this page</li>
	<li>Power User: can make changes to any page</li>
	<li>Sales Rep: can make changes to orders and customers</li>
</ul>
<p>
	<a href="/user/edit/">Create new user</a>
</p>
<table>
<thead><tr>
	<th>Name</th>
	<th>Admin</th>
	<th>Power User</th>
	<th>Sales Rep</th>
	<th>Edit</th>
	<th>Delete</th>
</tr></thead>
<tbody>
	<% users.forEach(user => { %>
		<tr>
			<td><%= user.Name %></td>
			<td><span class="<%= user.Admin     == 1 ? 'fa fa-lg fa-check' : ''%>"></span></td>
			<td><span class="<%= user.PowerUser == 1 ? 'fa fa-lg fa-check' : ''%>"></span></td>
			<td><span class="<%= user.SalesRep  == 1 ? 'fa fa-lg fa-check' : ''%>"></span></td>
			<td><a href="/user/edit/<%= user.Name %>"><span class="fa fa-lg fa-edit"></span></td>
			<td><a href="#" onclick="deleteUser(event, '<%= user.Name %>')"><span class="fa fa-lg fa-trash"></span></a></td>
				</tr>
		 
	<% }) %>
</tbody>
</table>

<script>
async function deleteUser(event, name) {
	console.log (event, name)
	event.preventDefault()

	const response = await fetch(`/user/${name}`, {method: "DELETE"})
	if (response.ok) {
		window.location.reload()
	}
}
</script>




<%- include("partials/foot.ejs") %>