<html>
	<title>Products Stock Warnings <%= new Date().toLocaleDateString() %></title>



<style>
	/* * {
		border: 1px dashed purple;
	} */

	h1 { font-size: 1.5em;}

	th {
		text-align: left;
	}

	#qtyTable {
		border-collapse: collapse;
	}

#qtyTable th, #qtyTable td {
	border: 1px black solid;
	text-align:right;
	padding-left: .5em;
	padding-right: .5em;
}

		@media print {
			.no-print {
				display: none
			}
			div * {
				font-size: 12px;
			}
		}

	</style>

<div class="no-print">
	<ul>
	<li>Print the document by hitting Ctrl-P or <a href=# onclick="window.print()">this link</a>.
	<li>Use the Destination/Printer option to save a PDF 
	<li>Under <i>More settings</i> you can remove the header/footer
</ul>
	<hr>
</div>


<h1>Product Stock Warnings — <%= new Date().toLocaleDateString() %></h1>
<p>The following products have one or more sizes below the minimum quantity.

<% garments.forEach(g => { %>
<div style="break-inside:avoid">
<table>
	<tr>
		<th>Type
		<th>Code
		<th>Colour
		<th>Label
		<th>Notes
	<tr>
		<td><%= g.Type %>
		<td><%= g.Code %>
		<td><%= g.Colour %>
		<td><%= g.Label %>
		<td><%= g.Notes %>
</table>

<table id="qtyTable">
	<tr>
		<th></th>
		<% sizes[g.SizeCategory].forEach(size => { %>
				<th><%= size == "ASm" ? "AS" : size %>
		<% }) %>
	<tr>
		<th>Stock
		<% sizes[g.SizeCategory].forEach(size => { %>
			<td><%= g[size] %>
		<% }) %>
	<tr>
		<th>Min.
		<% sizes[g.SizeCategory].forEach(size => { %>
			<td><%= g[`Min${size}`] %>
		<% }) %>
	<tr>
		<th>On Order
		<% sizes[g.SizeCategory].forEach(size => { %>
			<td><%= g[`OnOrder${size}`] %>
		<% }) %>
	</table>


<hr>
</div>
<% }) %>





<script>
	window.print()
</script>
